/* IE 6 rules */

body {
font-size: 62.5%;
}

#wrapper {
background:#F7F6EE url(none);
}

div.grad ul li, #currentstaff ul li, #prospectivestaff ul li, div.undergrad ul li, body#academics #content ul li, body.lo5 #content ul li, body#directories #col1 ul li, body#directories #col2 ul li, #researchnews ul li, #spotlight ul li, #academicprogs ul li {
list-style-image:url(/i/template/greybullet_ie.gif);
margin-left:18px;
}

#content ol
{
	margin-left: 0;
	list-style-type: decimal;
	list-style-position: outside;
}

#content ol li {margin-left:25px;}

body#research #content ul {
margin-left: 2px;
margin-top: -8px;
}

body#research #content ul li {
list-style-image:url(/i/template/greybullet_ie.gif);
}

#footer p,#footer ul {
display: inline;
}

#footer #foot2 {
margin-left: 0px;
}

#content h2 {
margin-bottom: 10px;
}

/* masthead */

#navbar {
	margin:0;
	}

span#motto {
	position: absolute;	
	margin: -13px 0 0 655px;	
	height: 30px;
	}

#utility {
	margin:-129px auto 0  auto;
}

/* search */

input#submit { width:29px; height:24px; behavior:url('http://www.uchicago.edu/js/pngbehavior.htc'); }

#sitesearch {
	margin:-42px 0 0 720px;
	}

div#pop { 
margin-top:-6px;
}

span#poptop { 
background:transparent url(/i/template/popsearch.gif) 0 0 no-repeat; 
}

div#pop { 
background:transparent url(/i/template/popbg.gif) 0 0 repeat-y; 
}

span#popbot { 
background:transparent url(/i/template/popsearch.gif) 0 -10px no-repeat; 
}

span#popbot:hover { 
background-position: 0 -40px; cursor:pointer;
}

/* Homepage */

#feat1,#feat2,#feat3,#feat4,#feat5 {
	margin-left:0;
	}

ul#featurenav {
	width:77px;
	margin-right: 1px;
	}

ul#featurenav li {
	width:77px;
	}

a.feeds {
	display:block; 
	width:14px; 
	height:14px!important; 
	background:#eaeae2 url(/i/template/rssicon.gif) 0 0 no-repeat;
	}
	
#home div#news, #mainfeature {
	height: 369px;
	}

body#home div.lead {
margin-bottom: -2px;
}

.lead h4 a  {
	font-size: .6em !important;
	margin:0 0 16px 0!important; 
	}

#home .lead h4 a, #home .story h4 a {
	font-size: .6em;
	}

.lead img {
	float:none;
	}

#events dl {
margin-top: -4px;
}

#home #bottomrow {
margin-top: 2px;
}

#events h3, #stuevents h3, div#researchnews h3, #admissevents h3, #alumevents h3, #academicprogs h3, #spotlight h3, div#safety h3, #living h3, #scholarly h3 {
margin: 0 0 -8px;
}

div#spotlight h3 {
margin-bottom: -8px !important;
}

#stumedia h3 {
margin:0 0 -8px 10px;
}

#stulife h3, #sturesources h3, #atoz h3 {
margin-bottom: 4px;
}

#home #academicprogs h3 {
margin-bottom: -8px;
}

body#community #safety h3, body#community #chicagolife h3 {
margin-bottom:-14px;
}

div#visiting h4, #fermi h4, #argonne h4, #leadership h4,  #acindex h4, #notablealum h4, #natmedals h4, #laureates h4, #directions h3, #ihouse h4, #graham h3, #summersession h3, #ucsc h4, #vital_partnership h4 {
margin-bottom: -2px;
}

#directions h3.to {
margin-bottom: -12px !important;
}

#directions h3.around {
margin-bottom: -2px;
}

#press h4, #library h4 {
margin-bottom: 0;
}

#uofcawards h3, div#news h3  {
margin-bottom: 0px;
}

#medctr h4, #labs h4, #scholarly h4 {
	margin:6px 0 -4px 0;
	}

#living h3.live {
height: 28px !important;
}

#timelyfeature h3, #weeklyfeature h3 {
margin-bottom: 3px;
}

/* Inner Pages */

form.awesome legend {
margin-left: -6px;
}

hr {
	margin-bottom: 0;
	}

div#controls {
	padding-bottom: 0;
}

div#curfeatures {
	padding-top: 10px;
}

div#curfeatures .hl h4 a {
	font-size:1em;
}

div#curfeatures .story {
	height: 75px;
}

.story h4 a {
	margin:0 0 1.6em 80px;
}

div#researchnews h3 {margin-bottom: 0;}

div.undergrad h3, div.grad h3 {
	margin-top: 10px;
}

blockquote p cite {clear: none;}

#story1, #story2, #story3, #story4, #story5 {
	margin-left:1px;
	}

ul#newsnav {
	width:77px;
	}
	
ul#newsnav li {
	width:77px;
	}

/* About */

#facts dt {
margin-top: 10px;
}

#facts dd  {
background:none;
padding:0;
margin:0 0 8px 0;
width: 176px;
margin-left: 10px;
}


#facts h3 {
margin-bottom: -7px;
}


/* org chart */

div#orgchart h5 span
{
	display: inline-block;
	margin-left: 0;
	padding-left: 32px;
}

div#orgchart h5 {
padding-left:0;
}

/* Admissions */

/* Academics */

body#academics dd.sub {
	display: block;
}

#academicprogs h3 {
margin-bottom: 6px;
}

body#academics div.staticmenu h3 {
background-color:#155F83 !important;
height: 12px;
}

/* Students */

#stulife img {
	padding-top: 3px;
margin-bottom: .5em;
}

#stulife img {
clear: both;
}

/* Alumni and Friends */

form#alumniservices {
width: 200px;
margin-right: 0;
}

form#alumniservices label {
display: block;
width: 50px;
float: left;
margin-right: 8px !important;
}

form#alumniservices input#username,
form#alumniservices input#password {
width:115px; float:left; margin-bottom:8px;
display: inline;
}

input#username {
margin-left: -2px;
display: inline;
}

div#alumbuttons {
margin-left: 74px;
}

div#alumbuttons p {
font-size: 10px;
}

#alumleft ul, #alumright ul {
margin-bottom: 24px;
}

/* Campus and Community */

div#chicagolife {
	float: left;
	}

/*
div#comminvolve h3 {
margin-top: -6px !important;
}
*/

/* Working */

h3.live {
margin-bottom: 11px !important;
}

/* News pages */

a#bookmark {
margin-top: 13px;
margin-bottom: -10px;
}

body#news div#bottomrow {
width: 688px !important;
}

.story h4 a {
	margin: 0  0pt 0em 80px;
	}

h4.chrontop a {
margin-top: -13px;
}

ul li.archive {
font-size: 1.1em;
}

div#pr {
padding-bottom: 0px;
}

div#pr h3 {
margin-top: 8px;
}

div#pr dl {
margin-bottom: -10px;
}

div#cin h3 {
margin-top: 8px;
}

/* Breadcrumbs */

div.breadcrumb a {
margin:0 6px 0 0;
width:900px;
height:8px;
}

table#searchresults {font-size:.9em;}

/* bar charts */

.chartlist li {height:28px;}

div.vcleft {width:226px; float:left; padding:0; margin:0;}

div.vcleft ul.timeline {width:226px!important;}

/* multi video */
div#additionalvids {
width:362px;
}