/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	border: 0;
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: left;
}

:focus { outline: 0; }
cite { font-style: italic; }
ul { list-style: none; }

table
{
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

caption,th,td
{
	font-weight: 400;
	text-align: left;
	vertical-align: top;
}

blockquote:before,blockquote:after,q:before,q:after { content: ""; }

div#masthead, div#navbar, div#utility, div#subnav, div#footer ul, body#home div#wrapper img, div#events ul, div#stuevents ul, div#admissevents ul, div#alumevents ul, a.feeds, div#mainfeature ul, div#newsstories ul, div#diversityfeedback, div#vid p a, div#mainfeature p a, div.sharestory, a.readmore, div#curfeatures ul, div#controls, div#searchform, body.org h2+p, dd.date br, form, h3.commentform, ul.a2znav
{
	display: none!important;
	visibility: hidden!important;
}

/* layout */
body
{
	color: black;
	background: white;
	font: 6pt Verdana,sans-serif;
}

#bottomrow { clear: both; }
body#working #bottomrow { clear: none; }

div#wordmark
{
	width: 100%;
	clear: both;
	padding: 10px 0;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
}

div#wordmark img
{
	height: 64px;
	width: 300px;
}

#col2, #col3, body#feature #subnav, body#home div#news
{
	float: left;
	margin-left: 5%;
	width: 25%;
}

body#home #mainfeature
{
	border-bottom: 1px solid gray;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

body#home #col1
{
	float: right;
	margin-left: 5%;
	width: 25%;
}

body#feature #subnav, .expmenu li ul, div#orgchart div, body#home div#mainfeature div
{
	display: inline!important;
	visibility: visible!important;
}

#admisscol, body.lo3 #content, body.lo1 #col1, body.lo2 #col1, body.lo5 #col1, body.lo5 #col2, body.lo4 #content, body#community #col1, body#research #col1, body.accolades #col1, body.notable #col1, body.aboutmain div#col1, body.academicsmain div#col1, body.researchmain div#col1, body.lo5 #content dl, body.lo5 #content hr, body.diversitymain #bottomrow h3, body.diversitymain #bottomrow p, body#feature #content, body.org #content, body#home div#mainfeature
{
	float: left;
	width: 70%;
}

body#students #col2, body.accolades div.awardee, body.lo5 #content p, body#fourohfour #content, #content ul, #content ol
{
	margin-left: 0;
	width: 70%;
}

body.accolades div.awardee p, body.accolades div#awardees p, body.accolades #mainfeature div p { width: 100%!important; }

body#directories #col1, body#directories #col2, body#home #col2, body#home #col3, body#home #col4, body#quicklinks #col1, body#quicklinks #col2, body#students #col1, body#students #col2, body#working #col1, body#working #col2, body#a2z #content
{
	float: none;
	width: 70%;
	margin-left: 0;
}

#mainfeature
{
	float: right;
	width: 25%;
	margin-bottom: 20px;
}

body.diversitymain #mainfeature
{
	float: none;
	width: 70%;
}

body#students #col3
{
	float: right;
	width: 25%;
	position: relative;
	top: -800px;
}

#events dt, #admissevents dt, #stuevents dt, #alumevents dt { margin-top: 0.7em; }
#facts, div#admissevents, div#stuevents, div#alumevents, div#uofcawards, div#safety, div#chicagolife, div#vid, div#researchnews { border-top: 5px solid #8f3931; }

div.staticmenu, div#curfeatures, body#home div#news, div#events
{
	border-top: 5px solid #3E7C97;
	padding: 0 0 15px;
	margin-bottom: 15px;
}

div.staticmenu h3, div#curfeatures h3, body#home div#news h3, div#events h3
{
	color: #3E7C97;
	font-size: 1.4em;
	line-height: 1.142em;
	margin: 0 0 .7em 0;
}

.img
{
	margin-bottom: 16px;
	border-bottom: 1px solid #d7d7cf;
}

.imgrt
{
	float: right;
	width: 198px;
	margin: 0 0 0 5%;
	border-bottom: 1px solid #d7d7cf;
}

.imglt
{
	float: left;
	width: 198px;
	margin: 0 5% 0 0;
	border-bottom: 1px solid #d7d7cf;
}

div.slide img, div.img img
{
	width: 100%;
	height: auto;
}

#footer
{
	width: 100%;
	clear: both;
	margin-top: 100px;
	padding: 10px 0;
	border-top: 1px solid gray;
}

/* typography */
a
{
	color: #155f83;
	text-decoration: none;
}

#footer a
{
	color: gray;
	font-weight: 700;
}

#footer p { color: gray; }

body#home #news .story h4 a:link:after, body#home #news .story h4 a:visited:after,
body#home #col2 a:link:after, body#home #col2 a:visited:after,
body#home #col3 a:link:after, body#home #col3 a:visited:after,
body#home #col4 a:link:after, body#home #col4 a:visited:after,
#content a:link:after, #content a:visited:after
{
	content: " (" attr(href) ") ";
	font-size: .9em;
	color: gray;
	font-weight: normal;
}

body#home #news .story h4 a[href^="/"]:after,
body#home #col2  a[href^="/"]:after,
body#home #col3  a[href^="/"]:after,
body#home #col4  a[href^="/"]:after,
#content  a[href^="/"]:after { content: " (http://www.uchicago.edu" attr(href) ") "; }
dd.date span:after, body#directories #content td a:after { content: " "; }

table.altrow th
{
	font-size: 1.3em;
	font-weight: 700;
	padding: 5px 5px 5px 0;
	border-bottom: 1px solid gray;
}

table.altrow td
{
	padding: 5px 5px 5px 0;
	border-bottom: 1px solid gray;
}

table.ci { width: 75%; }
table.ci tbody tr th { width: 75%; }
table.ci tbody tr td { text-align: right; }

body.lo4 #content h2+p, body#about #content h2+p, body#about #content h2+div.imgrt+p, body#academics #content h2+p, body#admissions #content h2+p, body#working #content h2+div.imglt+p, p.nms, p.pmf, p.npecon, p.npchem, p.npphy, p.npmed, p.nplit, body#research #content h2+p
{
	color: gray;
	font-size: 1.3em;
	line-height: 1.5em;
	margin: -5px 0 1.2em;
}


div#vid p, div.caption, div.slide p, div.img p
{
	color: gray;
	font-size: 1em;
	line-height: 1.65em;
	margin: 0 0 1.65em 0;
}

strong, #stulife p a, .archive a, #facts dt { font-weight: 700; }

hr
{
	border: none 0;
	border-top: 1px solid #eaeae2;
	background: #f7f6ee;
	width: 100%;
	clear: both;
	height: 1px;
	margin: 0 0 16px 0;
}

body.diversitymain #content hr { width: 70%; }

h2
{
	color: #740000;
	font-size: 2.5em;
	margin: 0 0 16px 0;
}

#content h3, body#home #mainfeature h3, body#home #col2 h3, body#home #col3 h3, body#home #col4 h3
{
	color: #740000;
	font-size: 1.4em;
	line-height: 1.142em;
	margin: 1.5em 0 .7em 0;
	width: 70%;
}

div#facts h3, div#mainfeature h3, div#admissevents h3, div#stuevents h3, div#alumevents h3, div#uofcawards h3,div#safety h3, div#chicagolife h3, body#home div#feat1 h3, div#vid h3, div#researchnews h3 { margin-top: 0; }

#content p, body.lo5 #content dl, div.breadcrumb a, #content li
{
	font-size: 1.1em;
	line-height: 1.65em;
	margin-bottom: 1.15em;
}

#content h4, #prospectivestaff h5, #currentstaff h5, div.staticmenu h4, .expmenu li span, #spotlight h4, #scholarly h4, #medctr h4, #labs h4
{
	color: black;
	font-size: 1.2em;
	line-height: 1.333em;
	margin: 1.3em 0 0.45em 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#currentstaff dl, body#directories col1 dl, body#directories col2 dl
{
	font-size: 1.1em;
	line-height: 1.65em;
}

#currentstaff dl ul li { font-size: 1em; }

#currentstaff dl dd ul
{
	line-height: 1.5em;
	margin-top: .8em;
}

body.divstu dt a, body.divpro dt a, body.divac dt a, #currentstaff dt a, body#directories col1 dt a, body#directories col2 dt a { font-weight: 700; }
body.divstu dd, body.divpro dd, body.divac dd, #currentstaff dd, body#directories col1 dd, body#directories col2 dd { margin-bottom: 1.1em; }

div#orgchart h5, div#orgchart ul li
{
	font-size: 1.1em;
	line-height: 1.65em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

div#orgchart ul li { margin-top: 0; }

div#orgchart h3, div#orgchart h4, div#orgchart h5
{
	clear: both;
	padding-left: 24px;
}

h4#pres { margin-left: 16px; }

div#orgchart h5
{
	margin-left: 32px;
	font-size: 1.2em;
}

div#orgchart ul { margin-left: 100px; }

/*
div.staticmenu h4 {
color:#3d3d2f;
font-size:1.1em;
margin:1em 0;
}
*/

div#safety h4, div#chicagolife h4, div#uofcawards h4, #facts dl, #admissevents dl, #events dl, #alumevents dl, #stuevents dl
{
	font-size: 1.1em;
	line-height: 1.65em;
	font-weight: bold;
	color: #23667c;
}

#facts dl, #admissevents dl, #events dl, #alumevents dl, #stuevents dl { color: black; }

div#safety p, div#chicagolife p, div#uofcawards p, #chicagolife ul
{
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.6em 0;
}

#content .imgrt p,#content .imglt p,#content .img p
{
	font-size: 1em;
	line-height: 1.65em;
	margin: 8px 0 9px 0;
	color: #65655e;
	width: 140px;
}

.expmenu li ul li, #currentstaff ul li, #prospectivestaff ul li, div.undergrad ul li, div.grad ul li, body#academics #content ul li, #sturesources ul li, div#comminvolve ul li, div#alumleft li, div#alumright li, #spotlight li,div#uofcawards ul li, #stulife ul li,#sturesources ul li,body#news #mainfeature ul li, #comminvolve ul li, body.lo5 #content ul li, body.accolades #awards ul li, body.nobel #nobels ul li, body.misc #awardees ul li, body.visit #content ul li, body.visit #content dl dd, body.visit #content dl dt, body#directories #col1 ul li, body#directories #col2 ul li, body#fourohfour #content ul li, body#feature #content ul li, body#research #content ul li, body#dmca #content ul li, body#quicklinks #content ul li, #footer p, div#curfeatures div, .staticmenu ul, body#home div.story h4, div#academicprogs ul li, #mainfeature p, #spotlight p, #scholarly p, #medctr p, #labs p, #timelyfeature p, #weeklyfeature p, #currentstaff dl, body.divwork ul li
{
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 0 0 .7em 0;
}

#content ul { margin-left:32px;}

#content ul li {
list-style-image:url(/i/template/greybullet.gif);
margin:0 0 0.7em 16px;
}

div#curfeatures div, .staticmenu ul, .expmenu li ul li { font-size: 1.05em!important; }
div#curfeatures div { margin: 0; }

div#pr dl,div#cin dl, dl.archivelist
{
	width: 100%;
	font-size: 1.1em;
	line-height: 1.6em;
}

div#pr dt,div#cin dt, dl.archivelist dt
{
	display: block;
	float: right;
	margin-bottom: 1em;
	width: 75%;
}

div#pr dd,div#cin dd, dl.archivelist dd
{
	display: block;
	float: left;
	margin-bottom: 0 !important;
}

body.archivelist div#curfeatures { margin: 0 0 20px 0; }
body.archivelist h3 { clear: both; }

span.vita
{
	padding: 6px 0;
	font: 250% Garamond, Times, "Times New Roman", serif;
	color: #780000;
	font-style: italic;
	line-height: 90%;
}

span.enriched
{
	padding-left: 10px;
	font: 175% Garamond, Times, "Times New Roman", serif;
	color: gray;
	line-height: 90%;
}

#content .feeds .xml_feed_entry_content
{
	font-size: 1.1em;
	line-height: 1.65em;
	margin-bottom: 1.65em;
	border-bottom: 1px solid gray;
	padding-bottom: 16px;
	width: 65%;
}

/* This is the print stylesheet to hide the Flash headlines from the browser... regular browser text headlines will now print as normal */
.sIFR-flash
{
	display: none!important;
	height: 0;
	width: 0;
	position: absolute;
	overflow: hidden;
}

.sIFR-alternate
{
	visibility: visible!important;
	display: block!important;
	position: static!important;
	left: auto!important;
	top: auto!important;
	width: auto!important;
	height: auto!important;
}